PROJECT_ENDPOINT=https://<foundryaccount>.services.ai.azure.com/api/projects/<projectname>
MODEL_DEPLOYMENT_NAME=gpt-4.1-mini-1

APPLICATIONINSIGHTS_CONNECTION_STRING=InstrumentationKey=xxxx;IngestionEndpoint=https://...